<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>UserData</title>
  <link rel="stylesheet" href="/users.css" />
</head>
<body>
  <div class="container">
    <h1>User admin panel</h1>
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
          <tr>
            <td><%= user.username %></td>
            <td class="password-cell"><%= user.password %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>
